<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <span th:each="job : ${jobs}">
        <!--             Loop throgh the hashmap-->
         <table class="job-listing">
            <tr  th:each="column : ${job}">
                <th th:text="${column.key}"></th>
                <td th:text="${column.value}"></td>
            </tr>

        </table>

            </span>

    </div>



</body>
</html>